.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.News1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 900px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border-right: 2px dotted black;
  text-align: justify;
}

.Blok1{
  background-color: rgb(215, 214, 214);
  width: 95%;
  height: 500px;
  margin: auto;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
}

.haaland{
  width: 40%;
  height: 350px;
}