.satu{
    background-color: greenyellow;
}
.dua{
    background-color: bisque;
    position: static;
    top: 30px;
}
.tiga{
    background-color: cyan;
}
.empat{
    background-color: blue;
    position: relative;
}
div{
    height: 150px;
    width: 150px;
}