.satu{
    background-color: greenyellow;
}
.dua{
    background-color: bisque;
    position: absolute;
    top: 0px;
    left: 0px;
}
.tiga{
    background-color: cyan;
}
div{
    height: 150px;
    width: 150px;
    margin: auto; 
}

.container{
    border: 2px solid black;
    width: 650px;
    height: 650px;
    position: relative;
}