/* bisa double pake koma kalo sama */
h1, h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

/* bisa double pake koma kalo sama */
ul li {
    color: red;
}

